:root {
  --light-blue: #4f86f6;
  --dark-blue: #015697;
  --yellow: #f3c738;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--light-blue);
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

#app {
  padding: 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
}

form {
  display: flex;
}

.todo-logo {
  margin-bottom: 1.5rem;
}

input,
button {
  outline: none;
  border: none;
  appearance: none;
  background: none;
}

#task-input {
  flex: 1 1 0%;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 6px;
  color: var(--light-blue);
  background-color: var(--dark-blue);
}

#task-input::placeholder {
  color: var(--light-blue);
}

#task-submit {
  color: var(--yellow);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
}

h1 {
  color: var(--yellow);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
  color: var(--yellow);
  padding: 1.5rem;
  border-bottom: solid;
}

.delete-btn {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  padding: 0.6rem;
  color: var(--yellow);
  background-color: var(--dark-blue);
}
